/* styles/Home.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #ada6a6;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* 旋转的图片样式 */
.imgRotating {
  margin-top: 100px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  animation: rotate 5s linear infinite; /* 设置旋转动画 */
}

.imgStatic {
  margin-top: 100px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

/* 旋转动画定义 */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 歌词区域样式 */
.lyrics {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #555;
}

/* 播放按钮容器 */
.playButtonContainer {
  position: absolute;
  bottom: 30px; /* 距离底部 30px */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 播放按钮样式 */
.playButton {
  padding: 10px 20px;
}

/* 播放速度控制按钮样式 */
.speedControl {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.speedControl button {
  padding: 5px 10px;
  margin: 0 10px;
}

.selected {
  background-color: #1890ff;
  color: white;
}
