.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  overflow: hidden;
}

.lyricsWrapper {
  width: 100%;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.lyricLine {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white; /* 蓝色 */
}

.currentLyric {
  font-size: 8rem;
  font-weight: bold;  
}

.otherLyric {
  font-size: 7.6rem;
}

